@import '../../styles/mixins';

.container {
  height: 200vh;
  .bannerContainer {
    margin-top: 560px;
    padding: 0 34px;
    display: flex;
    justify-content: flex-end;

    @include sm {
      padding: 0;
      margin-top: 343px;
    }
  }
}
