@import '../../styles/mixins';

.alert {
  background: linear-gradient(180deg, #101010 0%, #0b0b0b 100%);
  padding-right: 32px;
  margin-top: 54px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include lg {
    padding-right: 20px;
  }
  .leftImage {
    width: 212px;
    height: 54px;
    object-fit: contain;
    @include lg {
      width: 185px;
    }
    @include sm {
      margin-left: -40px;
      width: 160px;
    }
  }
  nav {
    position: absolute;
    left: calc(50% - 269px);
    top: 0;
    bottom: 0;
    @include sm {
      position: static;
    }
    ul {
      display: flex;
      align-items: center;
      gap: 27px;
      height: 100%;
      @include sm {
        gap: 4px;
      }
      li {
        color: #fff;
        span {
          color: #d7a830;
        }
        @include sm {
          &:nth-child(3) {
            display: none;
          }
          &:first-child {
            width: 98px;
            overflow: hidden;
            white-space: nowrap;
          }
        }
      }
    }
  }
  .rightElements {
    display: flex;
    align-items: center;
    gap: 10px;
    button {
      &:first-child {
        padding: 10px 14px;
        border-radius: 14px;
        backdrop-filter: blur(12px);
        border: none;
        color: #0b0b0b;
        text-shadow: 0px 0px 30px rgba(102, 204, 255, 0.2);
        font-size: 16px;
        font-weight: 500;
        line-height: 110%;
        background-color: #eeefef;
        @include sm {
          display: none;
        }
      }
      &:nth-child(2) {
        display: flex;
        @include lg {
          display: none;
        }
      }
      &:last-child {
        display: none;
        @include sm {
          display: flex;
        }
      }
    }
  }
}
