@import '../../styles/mixins';

.banner {
  width: 600px;
  height: 349px;
  box-shadow: 0px 4px 34px 0px rgba(0, 0, 0, 0.45);
  border-radius: 16px;
  background-color: #0e0e0e;
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
  transform: scale(0);
  transition: all 0.4s ease-in-out;
  opacity: 0;
  @include sm {
    width: 100%;
    border-radius: 0;
  }
  &.open {
    opacity: 1;
    transform: scale(1);
  }
  .image {
    height: 100%;
    width: 50%;
    @include sm {
      position: absolute;
      width: 300px;
      left: -180px;
      top: 0;
      bottom: 0;
      img {
        object-fit: contain;
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .closeBtn {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
  }
  .content {
    @include sm {
      width: 100%;
      z-index: 9;
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    h2 {
      color: #fff;
      text-align: center;
      font-size: 46px;
      font-weight: 500;
      line-height: 110%;
      letter-spacing: -1.84px;
      margin-bottom: 25px;
    }
    h3 {
      color: rgba(210, 152, 26, 0.6);
      text-align: center;
      font-size: 40px;
      font-weight: 500;
      line-height: 110%;
      letter-spacing: -1.6px;
      margin-bottom: 14px;
    }
    .promocode {
      color: #6c6c70;
      font-size: 16px;
      font-weight: 500;
      line-height: 130%;
      letter-spacing: 0.08px;
      margin-bottom: 40px;
      span {
        color: #d7a830;
      }
    }
    button {
      padding: 12px 24px;
      border-radius: 14px;
      opacity: 0.9;
      background: rgba(255, 255, 255, 0.1);
      color: #fff;
      text-align: center;
      font-size: 16px;
      font-weight: 500;
      line-height: 110%;
      letter-spacing: 0.08px;
      border: none;
      @include sm {
        span {
          display: none;
        }
      }
    }
  }
}
